#add-button {
  text-align: center;
  background-color: #ece7df;
  cursor: pointer;
}
#add-button:hover {
  background-color: #dbd4c7;
}

.blocklist {
  list-style-type: none;
}

.button {
  cursor: pointer;
}

hr.split {
  border-top: 1px dotted #8c8b8b;
}

